.container {
    background-color: gray;
    padding: 50px;
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        'item-1 item-1 item-2 item-3'
        'item-4 item-5 item-5 item-3';
}

.grid-items {
    padding: 10px;
    border-radius: 10px;
}

#item-1 {
    background-color: rgb(83, 5, 114);
    color: white;
    grid-area: item-1;
}

#item-2 {
    background-color: rgba(24, 23, 23, 0.404);
    color: white;
    grid-area: item-2;
}

#item-3 {
    grid-area: item-3;
    background-color: white;

}

#item-4 {
    grid-area: item-4;
    background-color: white;
}

#item-5 {
    background-color: rgb(1, 4, 14);
    color: white;
    grid-area: item-5;
}

.photo-style {
    border-radius: 50px;
}

.name-position {
    position: relative;
    left: 12px;
    bottom: 7px;
}

.designation-position {
    position: relative;
    left: 36px;
    bottom: 17px;
    font-size: 10px;
}

@media screen and (max-width: 700px) {
    .container {
        background-color: lightblue;
        padding: 50px;
        display: grid;
        grid-gap: 10px;
        grid-template-areas:
            'item-1'
            'item-2'
            'item-3'
            'item-4'
            'item-5'
        ;
    }
}