*{
    box-sizing: border-box;
}
body{
    background-color: rgb(225, 111, 98);
}
.main{
    height: 80vh;
    width: 80%;
    margin:10vh auto;
    display: flex;
    justify-content: space-between;
}
.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 48%;
    margin-top: -100px;
}
.quote h1{
    font-size: 60px;
    color: #fff;
}
.quote p{
    color: #fff;
}
.login{
    height: 100%;
    width: 48%;
}
.free{
    height: 10%;
    width: 100%;
    background-color: rgb(79, 8, 79);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.815);
}
.free span{
    font-weight: bold;
    color: #fff;
}
.login-form{
    height: 70%;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;

}
.login-form input{
    width: 100%;
    border-radius: 10px;
    height: 15%;
    margin-bottom: 3%;
    border: 1px solid grey
}
.login-form input:focus{
    border: 1px solid black;
}
.claim{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 15%;
    background-color: rgb(0, 151, 50);
    text-transform: uppercase;
    border-radius: 5px;
    color: #fff;
}
.login-form p{
    color:#000;
    font-size: 12px;
}
.login-form a{
    color: rgb(228, 38, 38);
    font-weight: bold;
}
@media (min-width:400px) and (max-width:750px){
    .main{
        flex-direction: column;
        width: 90%;
    }
    .quote{
        width: 100%;
    }
    .login{
        width: 70%;
       margin:5vh auto;
    }
}
@media (max-width:400px){
    .main{
        flex-direction: column;
    }
    .quote{
        width: 100%;
    }
    .login{
        width: 70%;
       margin:5vh auto;
    }
}
